<section id="banking" class="services">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 text-center">
          <div class="service-item">
            <span class="fa-stack fa-2x">
            <i class="fa fa-bank fa-stack-2x text-primary"></i>
          </span>
        <h2>Unified Banking</h2>
        <p class="lead">Access all your accounts from major banks on one single platform. One credential to manage all accounts.</p>
        {% include signupbtn.html %}
      </div>
    </div>
    <div class="col-lg-4">
        <img class="img-portfolio img-responsive" src="img/service-1.jpg">
    </div>
    </div>
    <!-- /.row -->
  </div>
  <!-- /.container -->
</section>
