<section id="personalized" class="services">
  <div class="container">
    <div class="row">
        <div class="col-lg-4">
            <img class="img-portfolio img-responsive" src="img/service-1.jpg">
        </div>
      <div class="col-lg-8 text-center">
          <div class="service-item">
            <span class="fa-stack fa-2x">
            <i class="fa fa-user fa-stack-2x text-primary"></i>
          </span>
        <h2>Personalized Services</h2>
        <p class="lead">By providing your preferences, MoneyBin would be able to provide services and products catered for your individual needs and requirements.</p>
        {% include signupbtn.html %}
      </div>
  </div>
    </div>
    <!-- /.row -->
  </div>
  <!-- /.container -->
</section>
