<section id="secure" class="services">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 text-center">
          <div class="service-item">
            <span class="fa-stack fa-2x">
            <i class="fa fa-lock fa-stack-2x text-primary"></i>
          </span>
        <h2>Secure Transactions</h2>
        <p class="lead">To ensure that all transactions on MoneyBin are protected from unauthorized access, MoneyBin makes use of security technologies to secure the channel between our clients and servers.</p>
        {% include signupbtn.html %}
      </div>
    </div>
    <div class="col-lg-4">
        <img class="img-portfolio img-responsive" src="img/service-1.jpg">
    </div>
    </div>
    <!-- /.row -->
  </div>
  <!-- /.container -->
</section>
